<sb-layout-dashboard [light]="true">

    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]="['fas', 'table']"></fa-icon>All Items
            <a routerLink="add" class="btn btn-sm btn-primary mt-1" style="float: right;">Add Items</a>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group form-inline">Search: <input class="form-control ml-2" type="text"
                        name="searchTerm" [(ngModel)]="itemService.searchTerm" placeholder="name/email" /><span class="ml-3"
                        *ngIf="itemService.loading$ | async">Loading...</span></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" sbSortable="itemCode" (sort)="onSort($event)"><span>Item Code</span>
                                <sb-sort-icon *ngIf='sortedColumn === "itemCode"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col" sbSortable="itemName" (sort)="onSort($event)"><span>Item Name</span>
                                <sb-sort-icon *ngIf='sortedColumn === "itemName"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>

                            <th scope="col"><span>Category</span>
                                <sb-sort-icon *ngIf='sortedColumn === "category"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>


                            <th scope="col"><span>Created By</span>
                                <sb-sort-icon *ngIf='sortedColumn === "createdBy"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>

                            
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items$ | async">
                            <td>
                                <ngb-highlight [result]="item.itemCode" [term]="itemService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="item.itemName" [term]="itemService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="item.category" [term]="itemService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="item.createdBy" [term]="itemService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                              <a routerLink="edit/{{item.id}}"> <fa-icon class="mr-1" [icon]='["fas", "edit"]'></fa-icon> </a>
                            </td>
                        </tr>
                        <tr *ngIf="(items$ | async)?.length==0">
                            <td colspan="5" style="text-align: center;">No records found.
                                <button (click)="reSetGrid()">Reload</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="total$ | async" [(page)]="itemService.page"
                        [pageSize]="itemService.pageSize">
                    </ngb-pagination><select class="custom-select" style="width: auto;" name="pageSize"
                        [(ngModel)]="itemService.pageSize">
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                    </select>
                </div>
            </form>
        </div>
    </sb-card>

     <div class="view-side-form">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

    
</sb-layout-dashboard>
