// Import Bootstrap variables for use within theme
@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";

// Import spacing variables
@import "./variables/spacing.scss";

// Import navigation variables
@import "./variables/navigation.scss";


// css for location

.ui-treetable-row{
    border-bottom: 1px black solid;
    //width: 900px;
  }
  
  table.undefined {
      color:#333333;
  }
  
  table.undefined tr{
    background-color: #ffffff;
  }
  
  table.undefined th {
      background-color: #dedede;
  }
  
//   table.undefined td {
//   //  width: 850px;
//     // background-color: #ffffff;
//     //  border-bottom: 1px solid #666666;
//   }

//   .table.undefined .ui-treetable-toggler.fa-caret-down:before{
//     content: "\f068";
//   }


  .ui-tree {
    width: 18em;
}

.ui-tree.ui-tree-selectable .ui-treenode-content {
    cursor: pointer;
}

.ui-tree .ui-tree-container {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: .25em;
    white-space: nowrap;
}

.ui-tree .ui-treenode-children {
    margin: 0;
    padding: 0 0 0 1em;
}

.ui-tree .ui-treenode {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none outside none;
    margin: 0;
    padding: .125em 0 0 0;
}

.ui-tree .ui-tree-toggler {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.ui-tree .ui-treenode-icon {
    display: inline-block;
    vertical-align: middle;
}

.ui-tree .ui-treenode-label {
    display: inline-block;
    padding: 0 .25em;
    vertical-align: middle;
}

.ui-tree .ui-treenode-label.ui-state-hover,
.ui-tree .ui-treenode-label.ui-state-highlight {
    font-weight: normal;
    border: 0 none;
}

.ui-tree .ui-treenode-leaf-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.ui-tree .ui-chkbox-box {
    cursor: pointer;
}

.ui-tree .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
}

/** Fluid **/
.ui-fluid .ui-tree {
    width: 100%;
}

/** Horizontal Tree **/
.ui-tree-horizontal {
    width:auto;
    padding: .5em 0;
    overflow:auto;
}

.ui-tree.ui-tree-horizontal table,
.ui-tree.ui-tree-horizontal tr,
.ui-tree.ui-tree-horizontal td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.ui-tree.ui-tree-horizontal .ui-tree-toggler {
    vertical-align: middle;
    margin: 0;
}

.ui-tree-horizontal .ui-treenode-content {
    font-weight: normal;
    padding: 0.4em 1em 0.4em 0.2em;
}

.ui-tree.ui-tree-horizontal .ui-tree-node-label {
    margin: 0;
}

.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    font-weight: normal;
    white-space: nowrap;
}

.ui-tree.ui-tree-horizontal .ui-treenode {
  //  background: url("./images/line.gif") repeat-x scroll center center transparent;
    padding: .25em 2.5em;
}

.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-leaf,
.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-collapsed {
    padding-right: 0;
}

.ui-tree.ui-tree-horizontal .ui-treenode-children {
    padding: 0;
    margin: 0;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector {
    width: 1px;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-line {
    //background: url("./images/line.gif") repeat-y scroll 0 0 transparent;
    width: 1px;
}

.ui-tree.ui-tree-horizontal table {
	height: 0;
}

.ui-tree.ui-tree-horizontal .ui-chkbox {
    vertical-align: bottom;
    margin-right: .25em;
}

.ui-treetable table {
	border-collapse:collapse;
    width: 100%;
    table-layout: fixed;
}

.ui-treetable .ui-treetable-header,
.ui-treetable .ui-treetable-footer {
    text-align:center;
	padding: .5em .75em;
}

.ui-treetable .ui-treetable-header {
    border-bottom: 0 none;
}

.ui-treetable .ui-treetable-footer {
    border-top: 0 none;
}

.ui-treetable th, .ui-treetable tfoot td {
    /*text-align: center;*/
    border-style:none !important;
    height:50px;
}

.ui-treetable thead th,
.ui-treetable tbody td,
.ui-treetable tfoot td {
    padding: .25em .5em;
    overflow: hidden;
    /*white-space: nowrap;*/
    border-width: 1px;
    border-style: solid;
}
.ui-treetable-odd {
    background-color: #fafafb;
}

.ui-treetable tbody td {
    border-color: inherit;
}

.ui-treetable tbody td:first-child span {
    vertical-align: middle;
}

.ui-treetable .ui-treetable-toggler {
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight,
.ui-treetable .ui-treetable-data tr.ui-state-hover,
.ui-treetable .ui-treetable-row.ui-state-highlight,
.ui-treetable .ui-treetable-row.ui-state-hover {
    cursor: pointer;
}
      
.ui-treetable tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
}

.ui-treetable .ui-treetable-indent {
    width: 1em;
    height: 1em;
    float: left;
}

/* PrimeNG */
.ui-treetable td.ui-treetable-child-table-container {
    padding: 0;
    border: 0 none;
}

.ui-treetable .ui-treetable-row {
    display: table-row;
    border-bottom: 0 transparent
}

.ui-treetable .ui-treetable-row.ui-state-hover,
.ui-treetable .ui-treetable-row.ui-state-highlight {
    border: 0 none;
}

.ui-treetable tbody .ui-treetable-row td {
    border: 0 none;
    vertical-align:middle;
}

.ui-treetable tbody .ui-treetable-row td input {
    outline: 0 none;
}
.ui-treetable .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
    background: #eeeeee;
    color: #212121;
}
.ui-treetable .ui-treetable-row.ui-treetable-row-selectable {
    cursor: pointer;
}



// div#threeWrapper {
//     font-size: 14px !important;
//   }


