// Import Custom Variables
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "global.scss";

// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";
@import "navigation/sidenav/sidenav-light.scss";


.view-side-form {
    .side-form {
        position: absolute;
        z-index: 1099;
        top: 0;
        right: 0;
        height: 100%;
        background: #fff;
        border-left: 1px solid #e0e0e0;
        margin-top: 56px !important;
        width:63%;
    }
}
  
  .navbarSlider a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbarSlider a:hover {
    background: #ddd;
    color: black;
  }
  
  .mainSlider {
    height: 550px; /* Used in this example to enable scrolling */
    overflow: auto;
  }

  .closeSlider
  {
    color: red;
    font-weight: bold;
    font-size: x-large;
  }

  .sliderHeader{
    height: 50px;
    margin-top: 0%;
    padding-top: 10px;
  }