<sb-layout-dashboard [light]="true">
    <br />
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>All Employees
            <a routerLink="add" class="btn btn-sm btn-primary mt-1" style="float: right;">Add Employee</a>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text"
                        name="searchTerm" [(ngModel)]="employeeService.searchTerm" /><span class="ml-3"
                        *ngIf="employeeService.loading$ | async">Loading...</span></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" sbSortable="firstName" (sort)="onSort($event)"><span>Name</span>
                                <sb-sort-icon *ngIf='sortedColumn === "firstName"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col" sbSortable="primaryEmail" (sort)="onSort($event)"><span>Email</span>
                                <sb-sort-icon *ngIf='sortedColumn === "primaryEmail"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>

                            <th scope="col"><span>Contact No</span>
                                <sb-sort-icon *ngIf='sortedColumn === "contactNo"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of employees$ | async">
                            <td>
                                <ngb-highlight [result]="emp.firstName" [term]="employeeService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="emp.primaryEmail" [term]="employeeService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="emp.contactNo" [term]="employeeService.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                              <a routerLink="edit/{{emp.id}}"> <fa-icon class="mr-1" [icon]='["fas", "edit"]'></fa-icon> </a>
                            </td>
                        </tr>
                        <tr *ngIf="(employees$ | async)?.length==0">
                            <td colspan="3" style="text-align: center;">No records found.
                                <button (click)="reSetGrid()">Reload</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="total$ | async" [(page)]="employeeService.page"
                        [pageSize]="employeeService.pageSize">
                    </ngb-pagination><select class="custom-select" style="width: auto;" name="pageSize"
                        [(ngModel)]="employeeService.pageSize">
                        <option [ngValue]="2">2 items per page</option>
                        <option [ngValue]="4">4 items per page</option>
                        <option [ngValue]="6">6 items per page</option>
                    </select>
                </div>
            </form>
        </div>
    </sb-card>


    <div class="view-side-form">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

</sb-layout-dashboard>