<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details routerLink="attdetails/3" background="bg-primary">
        <div class="card-body">
            Extra Hours (5) Days
        </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details routerLink="attdetails/2" background="bg-warning">
            <div class="card-body">
                Late In/Early Out (3)
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details routerLink="attdetails/1" background="bg-success">
            <div class="card-body">
                On Time (18)
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details routerLink="attdetails/4" background="bg-danger">
            <div class="card-body">Late In and Early Out (3)</div>
        </sb-card-view-details>
    </div>
</div>
